<!DOCTYPE HTML>
<html>

<head>
  <title>simplestyle_horizon - a page</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", Pour mettre un belle couleur au titre ! -->
          <h1><a href="index.html">Harinode <span class="logo_colour">Confiseries</span></a></h1>
          <h2>Des confiseries pour tous les gouts</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- class="selected" Pour afficher dans quelle page vous etes actuellement -->
          <li><a href="index.html">accueil</a></li>
          <li><a href="bonbons.html">Bonbons</a></li>
          <li><a href="gateaux.html">Gateaux</a></li>
          <li class="selected"><a href="chocolats.html">Chocolats</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
            <h3>Actualités</h3>
            <h4>Lancement du Site</h4>
            <h5>Mars 27st, 2020</h5>
            <p>Nous annonçon officielement le lancement de notre site ce 27 mars 2020<br /><a href="#">Voir plus</a></p>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Liens utiles</h3>
            <ul>
              <li><a href="#">Questions fréquentes</a></li>
              <li><a href="#">Nos produits</a></li>
              <li><a href="#">Contacts</a></li>
            </ul>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Search</h3>
            <form method="post" action="#" id="search_form">
              <p>
                <input class="search" type="text" name="search_field" value="Enter keywords....." />
                <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="../images/tools/search.png" alt="Search" title="Search" />
              </p>
            </form>
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
      <div id="content">
        <!-- Contenu de la page -->
        <h1>Chocolats</h1>  </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="index.html">accueil</a> | <a href="bonbons.html">Nos Bonbons</a> | <a href="gateaux.html">Nos gateaux</a> | <a href="chocolats.html">Nos chocolats</a> | <a href="contact.html">Nous contacter</a></p>
    </div>
  </div>
</body>
</html>
